@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    @apply w-full h-full min-h-screen;
    margin: 0;
    @apply text-gray-800;
    @apply font-palanquin;
    @apply bg-eaoffwhite;
    @apply text-eablack;
}

h1,
h2 {
    @apply font-palanquinDark;
    @apply font-bold;
}

@layer base {
    :root {
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: semibold;
}

@font-face {
    font-family: 'Palanquin Dark';
    src: url('../assets/fonts/Palanquin_Dark/PalanquinDark-SemiBold.ttf')
        format('ttf');
    font-weight: 600;
    font-style: semibold;
}

@font-face {
    font-family: 'Palanquin Dark';
    src: url('../assets/fonts/Palanquin_Dark/PalanquinDark-Bold.ttf')
        format('ttf');
    font-weight: 700;
    font-style: bold;
}
